<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/payfun/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/payfun/main.css">
	<script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
</head>
<body>
	<form action="{% url 'login_page' %}" method="GET">
		Please
		<button type="submit" >Login</button>
		to access your stream page.
	</form>

</body>
</html>