
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stream Page</title>


    <!-- Bootstrap core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- Custom styles for this template -->
    <link href="../../static/payfun/project_detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/payfun/fun.js" type="text/javascript"></script>
    <script src="{% static 'payfun/fun.js' %}" type="text/javascript"></script>

    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <style>
        .mainBlock {
            margin-left: 140px; /* Same width as the sidebar + left position in px */
            font-size: 28px; /* Increased text to enable scrolling */
            padding: 0px 10px;
        }

        .sidenav {
            width: 160px; /* Set the width of the sidebar */
            position: fixed; /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1; /* Stay on top */
            left: 0;
            overflow-x: hidden; /* Disable horizontal scroll */
            padding: 6px 8px 6px 16px;
        }

        .list-group-item {
            border-style: none;
        }

        #About {
            background: url("../static/images/icons/write.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
        }

        #signIn {
            margin-right: 10px;
        }

        li {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        hr {
            margin-top: 0px;
            margin-bottom: 0px;
        }

    </style>


</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{url 'stream'}">PayFun</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="form-inline mt-2 mt-md-0" method="post" action="/searchActivity/">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchInput" style="margin-top: 5px;">
                    <button class="btn btn-primary" type="submit" name="searchButton" style="margin-top: 5px;"><span class="glyphicon glyphicon-search"></span></button>
                    {% csrf_token %}
                </form>
            </div>

            <a href="/global-stream">Home</a>
        </nav>

        <div class="container" id="main_block">

            <div class="sidenav">

                <div class="btn-group-vertical">
                    <a class='btn btn-light' href="{% url 'launCh' %}"><i class="fa fa-pencil-square-o"></i>Create</a>
                    <a class="btn btn-light" href="{% url 'donations' %}"><i class="fa fa-money"></i>Donations</a>
                    <a class="btn btn-light" href="{% url 'followings' %}"><i class="fa fa-star"></i>Followings</a>
                    <a class="btn btn-light" href="{% url 'profile' user.username %}"><i class="fa fa-user"></i></i>Profiles</a>
                     <a class="btn btn-light" href="/notifications"><i class="fa fa-envelope-square"></i>Notifications</a>
                </div>

            </div>

            <div class="jumbotron">
                <div class="comment">
                    <div class="row">
                        <div class="col-sm">    
                            <h1>Paint the fence</h1>
                            <div 
                            <div>
                                <p style="float: left;">
                                    <img title="profile image" class="img-circle img-responsive profile-img" src="images/default.png" height="180px" width="180px" align="middle"/>
                                </p>
                                <br>
                                <br>
                                <h3>Posted by: <a href="/profile/{{activity.launcher.username}}">{{activity.launcher.username}}</a></h3>
                                <h3>on {{activity.post_time}}</h3>
                                <br>
                                <br>
                                <br>

                            </div>

                            <h3>Location: {{activity.location}}</h3>
                            <p>{{activity.content}}</p>

                            <h7>Target amount: ${{activity.target_money}}</h7>

                            <h7>Follower: 10 Donator: 2</h7>  
                        </div>
                        <div class="col-sm"> 
                            <div>
                                <form method="post" action="{% url 'pay' activity.id %}" id="donate-{{ activity.id }}">
                                    <input id="t_amount" name="t_amount" type="text" value="0"/>
                                    <input type="submit" class="btn" value="donate" id="donate_amount"/>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div>
                    <ol id="progress-list-{{activity.id}}"></ol>
                </div>

                <div class="jumbotron">
                    <div class="card my-4 comment_input">
                        <h5 class="card-header">Publish new progress:</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <input class="form-control" rows="1", name="progress-{{activity.id}}" id="progress-{{activity.id}}">
                                </div>
                                <button type="submit" class="btn btn-primary"  onclick='addProgress({{ activity.id }})'>Update Progress</button>
                            </form>
                        </div>
                    </div>
                </div>

        </div> 

        <div class="jumbotron">
            <ol id="comment-list-{{activity.id}}"></ol>
            <div class="card my-4 comment_input">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <input class="form-control" rows="1", name="comment-{{activity.id}}" id="comment-{{activity.id}}">
                        </div>
                        <button type="submit" class="btn btn-primary"  onclick='addComment({{ activity.id }})'>Submit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- /#wrapper --> 
    <!-- Bootstrap core JavaScript -->
    
    <!-- Menu Toggle Script -->

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script type="text/javascript">
        $(".jumbotron").css({"background-color" : "#ffffff", "border" : "solid", "border-width" : "1px" });
    </script>
    <!-- strem page -->
    <!-- end of stream page -->
    <script src="../../static/payfun/fun.js" type="text/javascript"></script>
</body>
</html>



