<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/payfun/util.css">
	<link rel="stylesheet" type="text/css" href="../../static/payfun/main.css">
	<script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
</head>
<body>
	
	<p>
		A confirmation email has been sent to {{email}}. Please click on the link in that mail
		to confirm your email address and complete your registration for payfun.
	</p>

</body>
</html>