{% extends "base.html" %}

{% block customHead %}
<link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/payfun/notifications.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">

    {% for notification in notifications %}
    <div>
        {% if "update" in notification.notification_content %}
            <div class="notice notice-success">
                <strong>Notice</strong> notice-success
            </div>
            <p>  Activity <a href="/activitydetail/{{notification.activity.id }}">{{ notification.activity.title }} </a>has update.
        {% endif %}

        {% if "finish" in notification.notification_content %}
            <p>  Activity <a href="/activitydetail/{{notification.activity.id }}">{{ notification.activity.title }}</a> has finished, come  <a href="/ratepage/{{ notification.id }}">here </a> for rating!
        {% endif %}

        </br>
        </br>
        </br>
    </div>
    {% endfor %}

</div>

{% endblock %}