
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stream Page</title>


    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- Custom styles for this template -->
    <link href="../../static/payfun/project_detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/payfun/fun.js" type="text/javascript"></script>
    <script src="{% static 'payfun/fun.js' %}" type="text/javascript"></script>

    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Welcome!
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#">Setting</a>
                </li>
                <li>
                    <a href="#">Followed</a>
                </li>
                <li>
                    <a href="#">Sponsored</a>
                </li>
                <li>
                    <a href="#">Launched</a>
                </li>
                <li>
                    <a href="#">Payment</a>
                </li>
                <li>
                    <a href="#">Notifications</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#menu-toggle" class="btn btn-secondary" id="menu-toggle" height="42" width="42">PayFun</a>
                    </div>
                    <a href="/global-stream">Home</a>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
                  </div>
                </nav>
            </div>
        </div>
  <!-- /#page-content-wrapper -->

        <div class="container" id="main_block">

            <div class="jumbotron">
                <div class="comment">

                    <h1>{{activity.title}}</h1>
                    <div>
                        <p style="float: left;">
                            <img title="profile image" class="img-circle img-responsive profile-img" src="{% url 'getPhoto' activity.id %}" height="180px" width="180px" align="middle"/>
                        </p>
                        <br>
                        <br>
                        <h3>Posted by: <a href="/profile/{{activity.launcher.username}}">{{activity.launcher.username}}</a></h3>
                        <h3>on {{activity.post_time}}</h3>
                        <br>
                        <br>
                        <br>
                    </div>

                    <h3>Location: {{activity.location}}</h3>
                    <p>{{activity.content}}</p>

                    <h7>Target amount: ${{activity.target_money}}</h7>

                    <h7>Follower: 10 Donator: 2</h7>
                     {% if my_activity == '0' %}
                         {% if activity_followed == '0' %}
                                <form method="post" action="/followActivity/{{activity.id}} ">
                                    <input type="submit" value="follow">
                                {% csrf_token %}
                                </form>
                         {% endif %}

                         {% if activity_followed == '1' %}
                                   <form method="post" action="/unfollowActivity/{{activity.id}} ">
                                    <input type="submit" value="unfollow">
                                    {% csrf_token %}
                                </form>

                         {% endif %}

                {% endif %}

                </div>

                <hr>

                <div>
                    <ol id="progress-list-{{activity.id}}"></ol>
                </div>
                {% if my_activity == '1' %}
                    <br>
                    <div>
                        <input class="form-control" rows="1", name="progress-{{activity.id}}" id="progress-{{activity.id}}">

                    </div>
                    <button type="submit" class="btn btn-primary"  onclick='addProgress({{ activity.id }})'>Update Progress</button>
                    <span id="error-progress" class="error"></span>
                {% endif %}


            </div>

            <div class="jumbotron">
                <div class="card my-4 comment_input">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                            <div class="form-group">
                                <input class="form-control" rows="1", name="comment-{{activity.id}}" id="comment-{{activity.id}}">
                            </div>
                            <button type="submit" class="btn btn-primary"  onclick='addComment({{ activity.id }})'>Submit</button>
                            <span id="error-comment" class="error"></span>
                    </div>
                </div>
            </div>
              <ol id="comment-list-{{activity.id}}">
            </ol>
        </div> 
    </div>

    <!-- /#wrapper --> 
    <!-- Bootstrap core JavaScript -->
    
    <!-- Menu Toggle Script -->

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script type="text/javascript">
        $(".jumbotron").css({"background-color" : "#ffffff", "border" : "solid", "border-width" : "1px" });
    </script>
    <!-- strem page -->
    <!-- end of stream page -->
    <script src="../../static/payfun/fun.js" type="text/javascript"></script>
</body>
</html>



