{% extends "base.html" %}

{% block customHead %}
<!-- Bootstrap core CSS -->
<link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<script src="../../static/payfun/test_chat.css"></script>

<link href="../static/payfun/new.css" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

ol li{
    list-style-type: none;
}

</style>

{% endblock %}

{% block content %}

<div>
    <ul class="nav nav-pills nav-stacked col-sm-2 col-md-2">
        <ol>
            {% for room in rooms%}
            <li class=""><a class="btn" href="#tab_{{room.room_id}}" data-toggle="pill" width="300px" height="400px">
                <i class="fa fa-user"></i> <span></span>
                {% if user.username == room.user1.username %}
                {{ room.user2.username }}
                {% else %}
                {{ room.user1.username }}
                {% endif %}
                </a>
            </li>
            {% endfor %}
        <ol>
    </ul>

    <div class="tab-content col-sm-10 col-md-10">
        {% for room in rooms %}
        <div class="tab-pane" id="tab_{{room.room_id}}">
            <textarea id="chat-log-{{room.room_id}}" cols="100" rows="20"></textarea><br/>
            <input id="chat-message-input-{{room.room_id}}" type="text" size="100"/><br/>
            <input class="btn btn-primary" id="chat-message-submit-{{room.room_id}}" type="button" value="Send"/>
        </div>
        {% endfor %}
    </div><!-- tab content -->
</div>

{% endblock %}

{% block customScript %}

<script>
    function setAttribute() {
        document.getElementsByName("searchInput").setAttribute("class", "democlass");
        document.getElementsByName("searchButton").setAttribute();
    }
</script>

<script>

    var room_num = {{ rooms | length }}
    var chatSockets = []

    {% for room in rooms %}

        var index = {{ forloop.counter0 }}

        var url = 'ws://' + window.location.host +'/ws/chat/' + '{{room.room_id}}' + '/'
        // var url = 'ws://' + window.location.host +'/ws/chat/' + '/'

        chatSockets.push(new WebSocket(url));

        chatSockets[index].onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.querySelector('#chat-log-{{room.room_id}}').value += (message + '\n\n');
        };

        chatSockets[index].onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input-{{room.room_id}}').focus();
        document.querySelector('#chat-message-input-{{room.room_id}}').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit-{{room.room_id}}').click();
            }
        };

        document.querySelector('#chat-message-submit-{{room.room_id}}').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input-{{room.room_id}}');

            var currentdate = new Date(); 
            var datetime = "" + currentdate.getDate() + "/" 
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " @ "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
            var message = 'From {{user.username}} on ' + datetime + '\n' + 'message: ' + messageInputDom.value;
            chatSockets[index].send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };

    {% endfor %}

</script>

{% endblock %}