{% extends "payfun/logged-in.html" %}

{% block template-style %}
  <link href="../../static/payfun/stream.css" rel="stylesheet">
{% endblock %}


{% block customized-js %}
    {% if isGlobal %}
         <script src = "../../static/payfun/stream.js"></script>
    {% else %}
         <script src = "../../static/payfun/followerStream.js"></script>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="new_post">
      <h4>Create new post</h4>
      <form class="add-form" action="{% url 'add-post' %}" method="post">
        <div class="form-group">
          <input name="header" class="form-control" id="new_header" placeholder="Enter header">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="new_text" name="text" rows="2" placeholder="Enter content"></textarea>
        </div>
        <button type="submit" id="submit_post_button" class="btn btn-primary" onclick="addPost()">Submit</button>
        <script>
          document.getElementById("submit_post_button").addEventListener("click", function(event){
            event.preventDefault()
          });
        </script>
        {% csrf_token %}
      </form>
    </div>

    <!-- Main component for a primary markseting message or call to action -->
    <div id="posts">
      
    </div>


{% endblock %}
